.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  text-align: center;
  height: 100vh;
  width: 100vh;
  margin:auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root{
  height:100vh;
}
html, body {
  margin:0px;
  height:100vh;
}

.bars {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 90%;
}

.barsContainer{
  height: 100vh;
  width: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #000000;
}

input{
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding:20px;
  /* padding: 1.5rem 2rem; */
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border: none;
  width: 15%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  text-align: center;
  height: 20%;
}
input:hover{
  color:#000000;
  background-color:#FFFFFF;
}
button:hover{
  color:#000000;
  background-color:#FFFFFF;
}
button:disabled{
  opacity: 0.7;
  cursor: not-allowed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
